<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<ul>
    <li th:each="prod : ${products}">
        <span th:text="${prod.name} + '   ' + ${prod.description} + '   ' + ${prod.price}"></span>
        <form action="/addToCart" method="post" style="display:inline;">
            <input type="hidden" name="productId" th:value="${prod.id}" />
            <button type="submit">Add to Cart</button>
        </form>
    </li>
</ul>
<button  ><a href="/">Вернуться назад</a></button>

</body>
</html>