<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text ></h1>
<h4 th:text="'Ваш адресс: '+ ${client.address}"></h4>
<form action="/address" method="post">
    <div>
        <label for="address">ur address:</label><br>
        <input type="text" id="address" name="address"/><br>
    </div>

    <div>
        <button type="submit">add address</button>
    </div>
</form>
<h4 th:text="'Ваш баланс: '+ ${client.balance}"></h4>
<h3>Ваша корзина:</h3>
<ul>
    <li th:each="bitem : ${bitems}">
        <span th:text="${bitem.product.name} + '  в количестве: ' + ${bitem.quantity}"></span>

    </li>
</ul>
<h1 th:text="'Сумма заказа: ' + ${sum}"></h1>
<button  ><a href="/categories">Назад</a></button>

<form action="/buy" method="post">

    <button type="submit">Купить</button>

</form>

</body>
</html>